* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f09bd6;
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
}

header {
    background-color: gray;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
}

/* navbar */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
    display: block;
    transition: background-color 0.3s;
    transform: 0.2s;
}

.nav-links a:hover {
    background-color: rgb(187, 165, 165);
    border-radius: 4px;
    transform: scale(1.05);
}

/* dropdown menu */

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: gray;
    border-radius: 4px;
    display: none;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(85, 79, 79, 0.2);
}

.dropdown-content li {
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
    animation: fadein 0.3s ease-in-out;
}

/* hamburger menu */

.hamburger {
    display: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* hero section */

.hero {
    padding: 80px 20px; 
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))url(computer.jpg); */
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
     color: white; 
    align-items: center;
    text-align: center;
    animation:fadein 1s ease-in-out ;
    
}

/* hero content */

.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: rgb(48, 45, 45);
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: rgb(48, 45, 45)
}

.cta-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: rgb(153, 11, 82);
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.cta-button:hover {
    background-color: #c0392b;
    transform: scale(1.1);
}

/* about section */

.about {
    padding: 80px 20px;
    text-align: center;
    background: #f09bd6;
}

.about h1 {
    font-size: 2.3rem;
    margin-bottom: 20px;
    color: rgba(48, 45,45 );
}

.about-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: #817d7d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, )0.1;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card i {
    font-size: 2.5rem;
    color: #c0392b;
    margin-bottom: 10px;
}

/* 
 Services Section */

.services {
    padding: 80px 20px;
    background: #f09bd6;
    text-align: center;
}

.services h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #2c3e50;
}

.services-grid {
    display: grid;
    grid-column: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.service-item {
    background: #e9d0d0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.service-item:hover {
    transform: translateY(-10px);

}

.service-item img {
    width: 35%;
    height: 170;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* Contact Section*/

.contact {
    padding: 80px 20px;
    text-align: center;
    background:#f09bd6;

}

.contact h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #2d2e30;
}

.contact p {
    margin-bottom: 20px;
}

#contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#contact-form input,
#contact-form textarea {
    padding: 12px;
    border: 1px 1px solid#ddd;
    border-radius: 4px;
    font-size: 1rem;

}

#contact-form textarea {
    resize: vertical;
    min-height: 100px;
}

#contact-form button {
    padding: 12px;
    background-color: #c0392b;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact-form button:hover {
    background-color: #be1c0a;

}

/*footer  */

footer {
    background-color: #5f6468;
    color: white;
    text-align: center;
    padding: 20px;
}

/* animations */

@keyframes fadeln {
    from { opacity: 0;}

    to { opacity: 1;}

}

/* Responsine Design */

@media (max-width:768) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #2c3e50;
        padding: 20px;
    }
}
.nav-links.active{
       display: flex;
}
.hamburger{
    display: block;
}
.dropdown-content{
    position: static;
    background-color: #34495e;
}
.hero-content{
    font-size: 1rem;
}
.card{
    display: flex;
    flex-direction:column;
    
}